@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Racing+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

body {
  font-size: 100%;
  background-image: url(../image/producao.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 80% 20%;

}

#sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;

}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-image: url(../image/fundo.gif);
}

.titulo-cabecalho {
  font-family: 'Racing Sans One', cursive;
  font-weight: 400;
  font-size: 80px;
  color: #34a5a5;
  text-shadow: 2px 5px 4px #EBEBEB;
}

.subtitulo-cabecalho {
  font-family: 'Racing Sans One', cursive;
  font-weight: 400;
  font-size: 30px;
  color: #EBEBEB;
}

h1 {
  font-family: 'Changa', sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #34a5a5;
  margin-top: 12px;
  text-shadow: 1px 1px 2px #EBEBEB;
}



img {
  display: flex;
  width: 80px;
  height: 80px;
}

.img {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.field {
  width: 400px;
  height: 600px;
  padding: 10px;
  background-color: rgba(7, 6, 6, 0.1);
  backdrop-filter: blur(20px);
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 22px;
 

}

.form {
  font-family: 'Changa', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
  font-size: 20px;
  font-weight: 300;
}

.form1{
  font-family: 'Changa', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 24px;
  font-size: 20px;
  font-weight: 300;
  

}

.cod-cow {
  width: 80px;
  padding: 5px;
  
  border-radius: 8px;
  border: none;
  outline: solid 0.1px rgba(34, 196, 236, 0.877);
}

.select {
  border-radius: 3px;
  border: solid 0.2px;
  padding: 5px;
  background-color: white;
  color: #868686;
  border-radius: 8px;
  border: none;
  outline: solid 0.1px rgba(34, 196, 236, 0.877);


}

.data {
  padding: 5px;
  width: 185px;
  margin-bottom: 25px;
  color: #868686;
  border-radius: 8px;
  border: none;
  outline: solid 0.1px rgba(34, 196, 236, 0.877);
}

.mat {
  width: 80px;
  padding: 5px;
  outline: none;
  border-radius: 8px;
  border: none;
  outline: solid 0.1px rgba(34, 196, 236, 0.877);
}

.btn-send,
.btn-register {
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #e8e8f1;
  width: 120px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px rgb(4, 180, 157);
  margin: 0 auto;
  background-color: rgba(4, 167, 118, 0.8);
  backdrop-filter: blur(1px);
  

}

.botoes {
  display: inline;
   margin: 0 auto;
}


.btn-reset {
  font-family: 'Changa', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #f4f4fa;
  width: 120px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px rgb(255, 24, 24);
  margin-left: 35px;
  background-color: rgb(206, 58, 58,0.9);
  backdrop-filter: blur(1px);
  

}

.btn-register:hover, .btn-send:hover {
  background-color: #00c267de;
  cursor: pointer;

}

.btn-reset:hover{
  background-color: #ff2828;
  cursor: pointer;

}

textarea {
  resize: none; /*Não redimensiona a caixa de texto*/
  width: 300px;
  height: 130px;
  border-radius: 8px;
  border: none;
  outline: solid 0.1px rgba(0, 247, 255, 0.877);
}

.medicos{
  width: 100px;
  height: 25px;
  color: #868686;
  border-radius: 8px;
  border: none;
  
  
}



