*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

body{
  height: 100vh;
  background-image: linear-gradient(to right bottom, #50a4c9, #458aa5, #3c7083, #335763, #2a3f45, #263539, #222b2d, #1d2122, #1d2122, #1d2122, #1d2122, #1d2122);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn{
  margin: 30px 0 0 30px;
}
.usuario{
  display: flex;
  flex-direction: row;
 
}
#video, #canvas{
  display: block;

  width: 500px;
  height: 500px;

}
#canvas{
  
    margin: 60px 0 0 300px;
  width: 500px;
  height: 380px;

}

#video{
  margin-left: 30px;
}







.btn{
  width: 150px;
  height: 60px;
  background: rgba(151, 0, 0, 1);
  border: none;
  color: white;

}

.btn:hover{
  cursor: pointer;
  
}

.img-camera{
 display: flex;
  width: 220px;
  height: 220px;
  margin:-440px 0 0 570px;
 
 
}

#capture{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: 20px 0 0 620px;
  width: 130px;
  height: 50px;
  background: rgb(10, 49, 140);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 20px;


}

#capture:hover{
  box-shadow: 0px 2px 20px white;
  background: rgba(0, 134, 210, 1);
  cursor: pointer;
}