@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

body{
  height: 100vh;
  background-image: linear-gradient(to right bottom, #50a4c9, #458aa5, #3c7083, #335763, #2a3f45, #263539, #222b2d, #1d2122, #1d2122, #1d2122, #1d2122, #1d2122);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.voltar-pagina{
  text-decoration: none;
  color: aliceblue;
  margin: 30px 0 0 20px;
  font-size: 20px;

}
.titulo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  margin: 30px 0 0px 280px;
  color: rgb(194, 194, 194);
  
}

fieldset{
 position: absolute;
 margin: 140px 0 0 320px;
  width: 700px;
  height: 300px;
  background: rgba(38, 50, 56, 0.8);
  color: aliceblue;

  
}

.visitante-rg{
  display: flex;

gap: 20px;
margin: 30px 0 50px 30px;
}

.dados-morador{
  display: flex;
  position: absolute;
  justify-content: center;
align-items: center;
gap: 20px;
margin-left: 30px;

}

.acompanhante{
  position: absolute;
  margin: 80px 0 0 30px;
}

.btn{
  display: block;
  position: absolute;
  height: 50px;
  width: 150px;
  margin: 132px 0 0 260px ;
  background: rgba(151, 0, 0, 1);
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;

}

.btn:hover{
  
  box-shadow: 1px 1px 15px white;
  background: rgb(220, 23, 23);
  
}

input[type=radio]{
  cursor: pointer;
}

input{
  margin-top: 10px;
  height: 30px;
}

input[name=apartamento]{
  width: 80px;
  
  
}

input[type=number]{
  -moz-appearance: textfield;
}

img{
  
display: flex;
position: absolute;
  margin: 300px 0 0 73px;
}


